/ {
    chosen {
        zmk,kscan = &default_kscan;
    };

    vol_encoder: vol_encoder {
        compatible = "alps,ec11";
        label = "Volume encoder";
        a-gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        b-gpios = <&gpio0 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        steps = <36>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&vol_encoder>;
        triggers-per-rotation = <36>; // Usually matches steps/detents
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-redirect";
        label = "default_kscan";
        rows = <1>;
        columns = <3>;

        // encoder click
        // S key
        // bootloader
        input-gpios =
              <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};