/ {
    chosen {
        zmk,kscan = &default_kscan;
    };

    vol_encoder: vol_encoder {
        compatible = "alps,ec11";
        label = "Volume encoder";
        a-gpios = <&pro_micro 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        b-gpios = <&pro_micro 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        steps = <36>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&vol_encoder>;
        triggers-per-rotation = <36>; // Usually matches steps/detents
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-redirect";
        label = "default_kscan";
        rows = <1>;
        columns = <3>;
        input-gpios = \
            <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> \
            <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> \
            <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};